<h1> Round Two: EMILIA ROMAGNA GP </h1> 
<img src="/img/gp2.jpg" alt="Round Two GP" class="center" width="400" height="350">
<dl>
  <dt>Circuit Layout</dt>
  <dd><img src="/img/gp2layout.png" alt="Round Two GP Layout" class="center" width="400" height="350"></dd>
  <dt>Location</dt>
  <dd>-Imola, Emilia-Romagna, Italy</dd>
  <dt>Details</dt>
  <dd>-Length:4.909km</dd>
  <dd>-Race Length:309.049km</dd>
  <dd>-Turns:19</dd>
  <dd>-Laps: 63 </dd>
  <dt>2020 Winner</dt>
  <dd>-Lewis Hamilton</dd>
  <dt>Most Wins</dt>
  <dd>-Michael Schumacher (7)</dd>
</dl>
